extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main  

    .container 

        +alert-success()
        +alert-error()

        h1(class="mb-4") Cập nhật thông tin bệnh nhân

        form(
            action=`/patients/edit/${patient.PatientID}?_method=PATCH`
            id="form-edit-patient"
            method="POST"
        )
            div(class="form-group")
                label(for="CCCD") CCCD
                input(
                    type="text"
                    class="form-control"
                    id="CCCD"
                    name="CCCD"
                    value=patient.CIC
                )
            div(class="form-group")
                label(for="FullName") Họ và tên
                input(
                    type="text"
                    class="form-control"
                    id="FullName"
                    name="FullName"
                    value=patient.FullName
    
                )
            div(class="form-group")
                label(for="Email") Email
                input(
                    type="text"
                    class="form-control"
                    id="Email"
                    name="Email"
                    value=patient.Email

                )
            div(class="form-group")
                label(for="Date_Of_Birth") Ngày sinh
                input(
                    type="date"
                    class="form-control"
                    id="Date_Of_Birth"
                    name="Date_Of_Birth"
                    value=patient.formattedDate
            
                )
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="nam"
                    name="Gender"
                    value="Male"
                    checked=(true ? patient.Gender == "Male" : false)
                )
                label(for="statusActive" class="form-check-label") Nam
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="nu"
                    name="Gender"
                    value="Female"
                    checked=(true ? patient.Gender == "Female" : false)
                )
                label(for="nu" class="form-check-label") Nữ
            div(class="form-group")
                label(for="Address") Địa chỉ
                input(
                    type="text"
                    class="form-control"
                    id="Address"
                    name="Address"
                    value=patient.Address
              
                )
            div(class="form-group")
                label(for="Phone_Number") Số điện thoại
                div.phone
                    input(
                        type="text"
                        class="form-control"
                        id="Phone_Number"
                        name="Phone_Number"
                        style="width: 200px;"
                        input-phone
                    )
                    div(
                        button-add-phone
                        class="btn btn-primary"
                    ) Thêm 
                each phone in phones    
                    div 
                        span #{phone.PatientPhoneNumber} 
                        a(href=`/patients/delete/${patient.PatientID}/${phone.PatientPhoneNumber}`) 
                            if (phones.length > 1)
                                <i class="fa-solid fa-delete-left"></i>
            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Cập nhật thông tin 
            
    form(
        form-add-phone
        method='POST' 
        action="" 
        data-patch=`/patients/edit/${patient.PatientID}`)