extends ../../layouts/default.pug 
include ../../mixins/alert.pug

block main
    .container
        h1 Tìm kiếm Bác sĩ phù hợp với lịch tư vấn của bạn! 
        form(
            action=`/check-schedules/find`
            id="form-check-schedules"
        )
            div(class="form-group")
                label(for="AppointmentDate") Ngày khám
                input(
                    type="date"
                    class="form-control"
                    id="AppointmentDate"
                    name="AppointmentDate"
                    required 
                )
            div(class="form-group")
                label(for="AppointmentTime") Giờ khám
                input(
                    type="time"
                    class="form-control"
                    id="AppointmentTime"
                    name="AppointmentTime"
                    required 
                )
            div(class="form-group")
                select(
                    class="form-control"
                    name="ServiceID"
                    service-select 
                ) 
                    option(selected value="") --Lựa chọn dịch vụ-- 
                    option(value="1") Khám mắt
                    option(value="3") Phẫu thuật đục thủy tinh thể
                    option(value="2") Điều trị tật khúc xạ
                    option(value="4") Phẫu thuật khúc xạ
                    option(value="5") Tạo hình mắt thẩm mỹ
                    option(value="6") Phẫu thuật ghép giác mạc
                    option(value="8") Nhãn nhi
                    option(value="9") Điều trị lác
                    option(value="7") Điều trị cườm nước 
            div(class="form-group")
                button(
                    type="submit"
                    class="btn btn-primary"
                ) Tìm bác sĩ phù hợp
            